$mainColor: #eb1b2b;
$black: #000000;
$background: #464751;
$bgColor:#eee9e9;
body{
  background: #f0f2f5;
}
div#events-bg{
  height: 300px;
  margin-bottom: 50px;
  background-image: url("../img/page-history-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  position: relative;
  .container{
    z-index: 99;
  }
  h1{
    color: #ffffff;
  }

  .breadcrumb{
    display: inline-block;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    a{
      color:#ffffff;
      font-size: 20px;
      line-height: 20px;
    }
    a:hover{
      text-decoration: none;
    }
    a.click{
      color:$mainColor;
    }
  }
}
div#events-bg:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: $background;
  opacity: 0.7;
}

#events{
  margin-bottom: 50px;
  .event-img {
    position: relative;
    margin-bottom: 15px;
    img{
      width: 100%;
    }
    .date {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 10px;
      background: #464751;
      text-align: center;
      font-size: 17px;
      color: #ffffff;
      z-index: 2;
    }
    .date:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      clip-path: polygon(100% 0, 0% 100%, 0 0);
      background: $mainColor;
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: .4s;
    }
    span {
      display: block;
      font-size: 24px;
      font-weight: bolder;
    }
  }
  .item{
    margin: 15px;
    padding: 20px;
    background: #ffffff;
  }
  .item:hover{
    .date:before {
      clip-path: polygon(100% 100%, 100% 0, 0 100%);

    }
  }
  h3{
    font-size: 20px;
  }
  span{
    margin-bottom: 20px;
    display: block;
    i{
      color: $mainColor;
    }
  }
  p{
    font-size: 16px;
    line-height: 24px;
  }
}


.loading {
  display: none;
  color: $mainColor;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 3px;
  font-size: 30px;
  padding: 1em;
  margin-bottom: .25em;
  vertical-align: top;
  -webkit-transition: .3s color, .3s border;
  transition: .3s color, .3s border;
}

.loader{
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  vertical-align: middle;
  pointer-events: none;
  font-size: 70px;
  line-height: 200px;
}
.loader:before,
.loader:after,
.loader{
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: loader 1.8s infinite ease-in-out;
  animation: loader 1.8s infinite ease-in-out;
}
.loader {
  color: $mainColor;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  top: -1em;
}
.loader:before {
  right: 100%;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 100%;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
}
@-webkit-keyframes loader{
  0%, 80%, 100% {
    box-shadow: 0 1em 0 -1em;
  }
  40% {
    box-shadow: 0 1em 0 -.2em;
  }
}
@keyframes loader{
  0%, 80%, 100% {
    box-shadow: 0 1em 0 -1em;
  }
  40% {
    box-shadow: 0 1em 0 -.2em;
  }
}

