@font-face {
    font-family: 'Baskerville Italic';
    src: url('fonts/LibreBaskerville-Italic.ttf');
}
@font-face {
    font-family: 'Baskerville';
    src: url('fonts/LibreBaskerville-Regular.ttf');
}