$mainColor: #eb1b2b;
$black: #000000;
$background: #464751;
$bgColor: #eee9e9;
body {
  background: #f0f2f5;
}

div#gallery-bg {
  height: 300px;
  margin-bottom: 50px;
  background-image: url("../img/page-history-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  position: relative;

  .container {
    z-index: 99;
  }

  h1 {
    color: #ffffff;
  }

  .breadcrumb {
    display: inline-block;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;

    a {
      color: #ffffff;
      font-size: 20px;
      line-height: 20px;
    }

    a:hover {
      text-decoration: none;
    }

    a.click {
      color: $mainColor;
    }
  }
}

div#gallery-bg:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: $background;
  opacity: 0.7;
}

.gallery {
  margin: 50px auto;
}

.grid {
  background: #DDD;
}

.grid-item {
  margin: 1%;
  width: 31%;
  float: left;
  overflow: hidden;

  img {
    width: 100%;
    transition: all 0.5s;
  }

  img:hover {
    transform: scale(1.2);
  }
}

@media all and (max-width: 992px) {
  .grid-item {
    width: 47%;
    float: left;
  }
}



